.top-order{
    display:flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 5px 40px;
}

.btn-ready{
    width: 22%;
    height: 7%;
    border-radius: 10px;
}

.product-order{
    display:flex;
    flex-direction: column;
    margin: 0.2% 5%;
}

.wrapper-btn{
    display: flex;
    justify-content: flex-end;
    margin: 0.2% 5% 4%;
}

.active-bottom-order {
    font-size: 1.15rem;
}