.top-order{
    display:flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 5px 40px;
}

.btn-ready{
    width: 22%;
    height: 7%;
    border-radius: 10px;
}

.product-order{
    display:flex;
    flex-direction: column;
    margin: 0.2% 5%;
}

.wrapper-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.2%;
    margin-right: 4%;
    margin-bottom: 1%;
}

.active-bottom-order {
    font-size: 1.1rem;
}

.wrapperOrder{
    padding-bottom: 1em;
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);
    
}