.modal-btns{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 1em;
}

.modal-btns button{
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-weight: bolder;
    margin-top: 5px;
}

.cancel-ready{
    background-color: #EBE8E8;
    color: black;
    border: 1.75px solid var(--darker-gray);
    border-radius: 10px;
    
}

.txt-prepared{
    font-size: 1.5em;
}