
.modal-delete{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFF;
    padding: 2.5em;
    z-index: 1000;
    border: 1.75px solid var(--main-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.txt-message {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 30px;
}

.cancel-delete{
    color: var(--darker-gray);
    font-weight: 800;
    width: 180px;
    height: 40px;
    background-color:#EBE8E8;
    border-radius: 10px;
    border: 1.75px solid var(--darker-gray);
}

.confirm-delete{
    color: #EBE8E8;
    font-weight: 800;
    width: 180px;
    height: 40px;
    background-color: var(--main-color);
    border: 1.75px solid var(--main-color);
    border-radius: 10px;
}

.button-wraper{
    margin-top: 50px;
    display: flex;
    width: 400px;
    justify-content: space-between;
}

